.about {
	height: 100vh;
	text-align: center;
	padding-top: 5rem;
}

.about img {
	height: 9.375rem;
	width: 9.375rem;
	border-radius: 100%;
}

.about p {
	padding-top: 1.6rem;
	padding-bottom: 5rem;
}