// Global CSS goes here

body {
	background: $primary-bg;
}

header,
nav,
.main-nav,
section,
.row,
footer {
	display: flex;
}

nav,
section,
footer {
	justify-content: center;
	align-items: center
}

header {
	flex-direction: column;
	align-items: center;
}

section {
	height: 100vh;
}

.light {
	font-weight: $light;
}

.container {
	width: 65vw;
	height: 100%;
}

a {
	text-decoration: none;
	position: relative;
	transition: .3s color;
}

a:not(.fa):hover {
	color: $link-hover-color;
}

.link:after,
.content-link:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: $primary-text-color;
	transition: .3s width, .3s background;
	z-index: -1;
}

.content-link:after {
	background: $link-hover-color;
}

.link:hover:after,
.content-link:hover:after {
	width: 100%;
	background: $link-hover-color;
}

.content-link {
	color: $link-hover-color;
}

.section-heading,
.project-heading {
	text-align: center;
	position: relative;
}

.section-heading {
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.project-heading {
	padding-bottom: .5rem;
	font-weight: $bold;
}

.section-heading:after,
.project-heading:after {
	position: absolute;
	bottom: 0;
	right: 45%;
	content: '';
	width: 10%;
	height: 1px;
	background: $primary-text-color;
}

// Typography 

body {
	font-family: $primary-font;
}

body,
a {
	color: $primary-text-color;
}

h1,
h2,
.cta {
	font-weight: $bold;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
}

p,
a:not(.brand) {
	font-size: 1.125rem;
}

p {
	line-height: 1.5rem;
}
