// Variables go here

// Typography
$primary-font: 'Raleway', sans-serif;
$light: 300;
$normal: 400;
$bold: 700;

// Color-Scheme
$primary-text-color: #333;
$secondary-text-color: #fff;
$skyblue: rgba(126, 192, 238, 0.7);
$link-hover-color: #7eC0ee; 
$primary-bg: #f3f3f3;
