// Variables go here

// Typography
$primary-font: 'Raleway', sans-serif;
$light: 300;
$normal: 400;
$bold: 700;

// Color-Scheme
$primary-text-color: #333;
$secondary-text-color: #fff;
$skyblue: #7ec0ee;
$link-hover-color: darken($skyblue, 15%); 
$primary-bg: #f3f3f3;
